/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

body {
  color: #000000;
  font-family: sans-serif;
  /* background-color: #65f5ff; */
  background: url("./images/istockphoto-157315275-612x612.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* display: flex;  */
  /* justify-content: center; */
}
#Tablet{
  width: 600px;
  padding: 40px;
  border-radius: 15px;
  background-color: #a2a2a0;
  margin: 20px auto 20px auto;
}
main {
  
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
}

main h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main ul.quests {
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding: 0;
}
main ul.quests li {
  margin: 0px 0px 10px 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #a2a2a0;
  text-align: center;
  font-size: 15px;
  border: 5px solid #898b8b;
}
main ul.quests li a:hover {
  color: #002031;
}
button {
  cursor: pointer;
}
input[type="text"] {
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
input[type="submit"] {
  background-color: #898b8b;
  border: none;
  color: white;
  padding: 9px 5px;
  border-radius: 10px;
  cursor: pointer;
}

 main ul.quests li button {
  background-color: rgb(120, 119, 120);
  border-radius: 3px;
  border-style: none;
  color: #e4e4e2;
  font-size: 12px;
  line-height: 1;
  overflow: hidden;
  padding: 10px 10px 10px;
  text-align: center;
  touch-action: manipulation;
}
.handy {
  display: flex;
  justify-content: center;
}
.handimage {
  height: 400px;
  transform: translate(-160px, -800px);
}
.handquillimage {
  transform: translate(400px, -800px) rotate(90deg);
}
/****** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}